.loginContainer {
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 341px;
  width: 100%;

  & .subtitle {
    line-height: 32px;
  }

  & .body {
    line-height: 26px;
  }

  & .forgotLink {
    font-size: 11px;
    line-height: 13px;
  }
}
