@import '../../scss/variables/variables';

.spinnerContainer {
  background-color: var(--color-silver);
  height: 100vh;
  left: 0;
  opacity: $opacity-loader;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-index-loader;

  & .spinner {
    border: 10px solid rgba(0, 0, 0, .2);
    border-left-color: var(--color-dodger-blue);
    border-radius: 50%;
    height: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 100px;

    animation: spin 1s linear infinite;
  }

}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}
