.signUpContainer {
  height: 100%;

  & .header {
    letter-spacing: 3px;
    line-height: 23px;
    margin-bottom: 38px;
  }

  & .link {
    letter-spacing: 1.65px;
    line-height: 13px;
    text-decoration: none;
  }
}