.button {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 37px;
  letter-spacing: 1.65px;
  line-height: 13px;
  width: 100%;
}

.hr {
  width: 121px;
  margin: 10px 0;
}
