@import 'variables/fonts';

%text-base {
  color: var(--color-black);
  font-family: $app-font;
  font-weight: 400;

  &.bold {
    font-weight: 700;
  }

  &.medium {
    font-weight: 500;
  }

  &.light {
    font-weight: 300;
  }

  &.italic {
    font-style: italic;
  }

  &.center {
    text-align: center;
  }

  &.underline {
    text-decoration: underline;
  }
}

.title-big {

  @extend %text-base;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 23px;
}

.title-normal {

  @extend %text-base;
  font-size: 1.8rem;
}

.title-small {

  @extend %text-base;
  font-size: 1.2rem;
  letter-spacing: 2.4px;
  line-height: 14px;
}

.text-big {

  @extend %text-base;
  font-size: 1.4rem;
}

.text-normal {

  @extend %text-base;
  font-size: 1.1rem;
  line-height: 13px;
  letter-spacing: 1.65px;
}

.text-error {

  @extend %text-base;
  font-size: 0.9rem;
  color: var(--color-tia-maria);
  height: 10px;
}
